<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576626303302-bbslo7h2frjrs2l0344oh4rl5mdlth5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576626303302-bbslo7h2frjrs2l0344oh4rl5mdlth5f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576626303302-qqsv7fuu1rk2i7o3h8eeu5auntpdhuta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUmh6J1gJX9l17MszYi8X3EfA-lheAnpU</string>
	<key>GCM_SENDER_ID</key>
	<string>576626303302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obs.obsNews</string>
	<key>PROJECT_ID</key>
	<string>obs-news-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>obs-news-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576626303302:ios:b6c866c564f568215c8547</string>
</dict>
</plist>